/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #dd8361;
$gray                       : #8f897f;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #171613;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #e8dfd1;
$link                       : #dd8361;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #1f1d19;
    --global-border-color               : #3a342d;
    --global-dark-border-color          : #4a433a;
    --global-code-background-color      : #201d18;
    --global-code-text-color            : #e6dccf;
    --global-fig-caption-color          : #b4aa9c;
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #f0bf9b;
    --global-link-color-visited         : #ccb4d8;
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #f0bf9b;
    --global-text-color                 : #{$text};
    --global-text-color-light           : #c5baaa;
    --global-thead-color                : #25221d;
}

