/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #dd8361;
$gray                       : #8b857b;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fcfaf7;
    --global-footer-bg-color            : #f5f2ed;
    --global-border-color               : #e3dbcf;
    --global-dark-border-color          : #cec2b2;
    --global-code-background-color      : #f6f1e9;
    --global-code-text-color            : #3c3730;
    --global-fig-caption-color          : #766c5f;
    --global-link-color                 : #dd8361;
    --global-link-color-hover           : #be6546;
    --global-link-color-visited         : #7c5f7d;
    --global-masthead-link-color        : #3b342b;
    --global-masthead-link-color-hover  : #dd8361;
    --global-text-color                 : #342f29;
    --global-text-color-light           : #746b5f;
    --global-thead-color                : #f4eee4;
}

